{% extends 'base.html' %}

{% load i18n %}

{% block tab_advisor %}active{% endblock %}

{% block extrahead %}
<style>

ul.routelist {
	display: inline;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

ul.routelist li {
	display: inline;
}

ul.routelist li a {
	display: inline-block;
	width: 5em;
	height: 3ex;
	text-align: center;
	border-radius: 5px;
	margin-top: 0.5ex;
}

.color_1 {
	background-color: #ffe4ba !important;
}

.color_2 {
	background-color: #fffbba !important;
}

.color_3 {
	background-color: #d9ffd8 !important;
}

.color_4 {
	background-color: #ffa3a3 !important;
}

.color_5 {
	background-color: #c4cbff !important;
}

.color_6 {
	background-color: #e5e5e5 !important;
}

.color_7 {
	background-color: #a3a3a3 !important;
}

.color_8 {
	background-color: #ffbaf9 !important;
}

</style>
{% endblock %}

{% block content %}

<h2>{% trans 'Advisor' %}</h2>

{% regroup routes by color as colors %}
{% for color in colors %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ color.list.0.get_color_display }} ({{ color.list|length }})</h3>
	</div>
	<div class="panel-body">
		<ul class="routelist">
			{% for route in color.list %}
			<li class=""><a class="color_{{ route.color|add:1 }}" href="{{ route.get_absolute_url }}">{{ route.number }} ({{ route.climb__count }})</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endfor %}

{% endblock %}

