{% extends 'base.html' %}

{% load i18n %}

{% block tab_advisor %}active{% endblock %}

{% block extrahead %}
<style>
	@media (max-width: 768px) {
		.container {
			padding:0;
			margin:0;
		}
	}

	.num {
		text-align: right;
	}
	.color {
		width: 5em;
	}

	.color_1 {
		background-color: #ffe4ba !important;
	}

	.color_2 {
		background-color: #fffbba !important;
	}

	.color_3 {
		background-color: #d9ffd8 !important;
	}

	.color_4 {
		background-color: #ffa3a3 !important;
	}

	.color_5 {
		background-color: #c4cbff !important;
	}

	.color_6 {
		background-color: #e5e5e5 !important;
	}

	.color_7 {
		background-color: #a3a3a3 !important;
	}

	.color_8 {
		background-color: #ffbaf9 !important;
	}
</style>
{% endblock %}

{% block content %}

{% if not my_climber %}
<h2>{% trans 'Advisor' %}</h2>

<div class="table-responsive" style="margin-top: 3ex">
	<table class="table">
		<thead>
			<tr>
				<th>Color</th>
				<th class="num">Route</th>
				<th class="num">ELO</th>
				<th class="num">#Climbs</th>
			</tr>
		</thead>
		<tbody>
			{% for route in routes %}
			<tr class="color_{{ route.color|add:1 }}">
				<td>{{ route.get_color_display }}</td>
				<td class="num"><a href="{{ route.get_absolute_url }}">{{ route.number }}</a></td>
				<td class="num">{{ route.elo|floatformat:0 }}</td>
				<td class="num">{{ route.climb__count }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}

<h2>{% trans 'Advisor for' %} {{ my_climber.name }}</h2>

<p>
Shown colors:
{% for color, name in my_climber.allInterestingColorsWithNames %}
<a class="btn btn-default active" data-toggle="button" href="#" role="button" onclick="$('.color_{{color|add:1}}').toggle();">{{ name }}</a>
{% endfor %}
</p>

<div class="col-sm-6">
<div class="panel panel-default">
	<div class="panel-heading">Routes below {{ my_climber.elo|floatformat:0 }} ELO</div>

	<table class="table">
		<thead>
			<tr>
				<th>Color</th>
				<th class="num">Route</th>
				<th class="num">ELO</th>
				<th class="num">#Climbs</th>
			</tr>
		</thead>
		<tbody>
			{% for route in routes_below %}
			<tr class="color_{{ route.color|add:1 }}">
				<td>{{ route.get_color_display }}</td>
				<td class="num"><a href="{{ route.get_absolute_url }}">{{ route.number }}</a></td>
				<td class="num">{{ route.elo|floatformat:0 }}</td>
				<td class="num">{{ route.climb__count }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>

<div class="col-sm-6">
<div class="panel panel-default">
	<div class="panel-heading">Routes above {{ my_climber.elo|floatformat:0 }} ELO</div>

	<table class="table">
		<thead>
			<tr>
				<th>Color</th>
				<th class="num">Route</th>
				<th class="num">ELO</th>
				<th class="num">#Climbs</th>
			</tr>
		</thead>
		<tbody>
			{% for route in routes_above %}
			<tr class="color_{{ route.color|add:1 }}">
				<td>{{ route.get_color_display }}</td>
				<td class="num"><a href="{{ route.get_absolute_url }}">{{ route.number }}</a></td>
				<td class="num">{{ route.elo|floatformat:0 }}</td>
				<td class="num">{{ route.climb__count }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>

{% endif %}

{% endblock %}

