{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block extrahead %}
<style>

ul.routelist {
	display: inline;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

ul.routelist li {
	display: inline;
}

ul.routelist li a {
	display: inline-block;
	width: 3em;
	height: 3ex;
	text-align: center;
	border-radius: 5px;
	margin-top: 0.5ex;
}

.color_1 {
	background-color: #ffe4ba !important;
}

.color_2 {
	background-color: #fffbba !important;
}

.color_3 {
	background-color: #d9ffd8 !important;
}

.color_4 {
	background-color: #ffa3a3 !important;
}

.color_5 {
	background-color: #c4cbff !important;
}

.color_6 {
	background-color: #e5e5e5 !important;
}

.color_7 {
	background-color: #a3a3a3 !important;
}

.color_8 {
	background-color: #ffbaf9 !important;
}

.checktable {
	table-layout: fixed;
}

.checktable td {
	border: 1px solid black;
	padding: 6px;
	width: 5ex;
	text-align: center;
	font-weight: bold;
	font-size: 70%;
}

.checktable td.climbed {
/* 	text-decoration: line-through; */
	background-color: #a0ffa0 !important;
	font-weight: normal;
}

.checktable td.never_climbed {
	font-weight: normal;
}

@media(min-width:992px) {
	.checktable td {
		font-size: 100%;
	}
}

</style>
<script type="text/javascript" src="{% static 'plotly/plotly.min.js' %}"></script>
{% endblock %}

{% block content %}

<h2>{{ climber.name }}</h2>

{% url 'leaderboard' category=climber.category gender=climber.gender as category_url %}
<p>
{% blocktrans with name=climber.name category=climber.category category_url=category_url gender=climber.get_gender_display|lower %}
{{ name }} climbs in <a href="{{ category_url }}">category {{ category }}</a> and is {{ gender }}.
{% endblocktrans %}
</p>

<div class="table-responsive" style="margin-top: 3ex">
	<table class="table">
		<thead>
			<tr>
				<th class="num">Points</th>
				<th class="num">*Points</th>
				<th class="num">ELO</th>
				{% for color in colors %}
				<th class="num color color_{{ forloop.counter }}">{{ color }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="num">{{ climber.points }}</td>
				<td class="num">{{ climber.all_points }}</td>
				<td class="num">{{ climber.elo|floatformat:1 }} </td>
				{% for colorcount in climber.listCountsByCategory %}
				<td class="num color color_{{ forloop.counter }}">{{ colorcount }}</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">ELO history</h3>
	</div>
	<div class="panel-body">
		<div id="elo_history">
		</div>
		<script>
		var trace = {
			x: [ {% for snapshot in climber.climbersnapshot_set.all %} '{{ snapshot.date|date:"Y-m-d H:i" }}' {% if not forloop.last %},{% endif %} {% endfor %} ],
			y: [ {% for snapshot in climber.climbersnapshot_set.all %} {{ snapshot.elo }} {% if not forloop.last %},{% endif %} {% endfor %} ],
			type: 'scatter',
			name: '{{ climber.name }}'
		};

		var traces = [trace];

		{% if my_climber and my_climber != climber %}
		var my_trace = {
			x: [ {% for snapshot in my_climber.climbersnapshot_set.all %} '{{ snapshot.date|date:"Y-m-d H:i" }}' {% if not forloop.last %},{% endif %} {% endfor %} ],
			y: [ {% for snapshot in my_climber.climbersnapshot_set.all %} {{ snapshot.elo }} {% if not forloop.last %},{% endif %} {% endfor %} ],
			type: 'scatter',
			name: '{{ my_climber.name }}'
		};

		traces.push(my_trace);
		{% endif %}

		Plotly.newPlot('elo_history', traces);
		</script>
	</div>
</div>

<ul class="nav nav-pills" role="tablist">
	<li role="tab" class="active">
		<a href="#timeline" data-toggle="tab">{% trans 'Timeline' %}</a>
	</li>
	<li role="tab">
		<a href="#all_boulders" data-toggle="tab">{% trans 'All boulders' %}</a>
	</li>
</ul>

<div class="tab-content" style="padding-top: 3ex">
	<div role="tabpanel" class="tab-pane active" id="timeline">
		{% regroup climbs by date as climb_days %}
		{% for day in climb_days %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ day.grouper }} ({{ day.list|length }})</h3>
				</div>
				<div class="panel-body">
					<ul class="routelist">
						{% for climb in day.list %}
						<li class=""><a class="color_{{ climb.route.color|add:1 }}" href="{{ climb.route.get_absolute_url }}">{{ climb.route.number }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endfor %}
	</div>

	<div role="tabpanel" class="tab-pane" id="all_boulders">
		<div class="panel panel-default">
			<div class="panel-heading">Climbed routes</div>

			<div class="panel-body">
				<div class="row">
					{% for color, color_name, coldata in boxes %}
					<div class="col-sm-6">
						<h4>{{ color_name }} routes</h4>
						<table class="checktable">
							{% for row in coldata %}
							<tr>
								{% for number, climbed, all_climbed, route in row %}
								<td class="{% if climbed %}color_{{ color|add:1 }}{% endif %} {% if not all_climbed %}never_climbed{% endif %}">
									{% if route %}
									<a href="{{ route.get_absolute_url }}">{{ number }}</a>
									{% else %}
									{{ number }}
									{% endif %}
								</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</table>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
