{% extends 'base.html' %}

{% load i18n %}

{% block tab_leaderboard %}active{% endblock %}

{% block extrahead %}
<style>
	.num {
		text-align: right;
	}
	.color {
		width: 5em;
	}
	.color_1 {
		background-color: #ffe4ba;
	}

	.color_2 {
		background-color: #fffbba;
	}

	.color_3 {
		background-color: #d9ffd8;
	}

	.color_4 {
		background-color: #ffa3a3;
	}

	.color_5 {
		background-color: #c4cbff;
	}

	.color_6 {
		background-color: #e5e5e5;
	}

	.color_7 {
		background-color: #a3a3a3;
	}

	.color_8 {
		background-color: #ffbaf9;
	}
</style>
{% endblock %}

{% block content %}

<h2>{% trans 'Leaderboard' %}</h2>

<ul class="nav nav-tabs">
	{% for code, label in categories %}
	<li role="presentation" class="{% if code == category %}active{% endif %}">
		<a href="{% url 'leaderboard' category=code %}">{{ code }}: {{ label }}</a>
	</li>
	{% endfor %}
</ul>

<table class="table">
	<thead>
		<tr>
			<th>Climber</th>
			<th class="num">Points</th>
			<th class="num">*Points</th>
			{% for color in colors %}
			<th class="num color color_{{ forloop.counter }}">{{ color }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for climber in climbers %}
		<tr>
			<td>{{ climber.name }}</td>
			<td class="num">{{ climber.points }}</td>
			<td class="num">{{ climber.all_points }}</td>
			{% for colorcount in climber.listCountsByCategory %}
			<td class="num color color_{{ forloop.counter }}">{{ colorcount }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
