{% extends 'base.html' %}

{% load i18n %}

{% block tab_leaderboard %}active{% endblock %}

{% block extrahead %}
<style>
	@media (max-width: 768px) {
		.container {
			padding:0;
			margin:0;
		}
	}

	.num {
		text-align: right;
	}
	.color {
		width: 5em;
	}

	.color_1 {
		background-color: #ffe4ba !important;
	}

	.color_2 {
		background-color: #fffbba !important;
	}

	.color_3 {
		background-color: #d9ffd8 !important;
	}

	.color_4 {
		background-color: #ffa3a3 !important;
	}

	.color_5 {
		background-color: #c4cbff !important;
	}

	.color_6 {
		background-color: #e5e5e5 !important;
	}

	.color_7 {
		background-color: #a3a3a3 !important;
	}

	.color_8 {
		background-color: #ffbaf9 !important;
	}
</style>
{% endblock %}

{% block content %}

<h2>{% trans 'Leaderboard' %}</h2>

<ul class="nav nav-pills">
	{% for code, label in categories %}
	<li role="presentation" class="{% if code == category %}active{% endif %}">
		<a href="{% url 'leaderboard' category=code %}">{{ code }}<span class="{% if code != category %}hidden-xs{% endif %}">: {{ label }}</span></a>
	</li>
	{% endfor %}
</ul>

<div class="table-responsive" style="margin-top: 3ex">
	<table class="table">
		<thead>
			<tr>
				<th class="num">#</th>
				<th>Climber</th>
				<th class="num">Points</th>
				<th class="num">*Points</th>
				<th class="num">ELO</th>
				{% for color in colors %}
				<th class="num color color_{{ forloop.counter }}">{{ color }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for climber in climbers %}
			<tr class="{% if climber == my_climber %}success{% endif %}">
				<td class="num">{{ climber.place }}.</td>
				<td><a href="{{ climber.get_absolute_url }}">{{ climber.name }}</a></td>
				<td class="num">{{ climber.points }}</td>
				<td class="num">{{ climber.all_points }}</td>
				<td class="num">{{ climber.elo|floatformat:1 }} </td>
				{% for colorcount in climber.listCountsByCategory %}
				<td class="num color color_{{ forloop.counter }}">{{ colorcount }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
